html {
    font-family: sans-serif;
    font-size: 17px;
}

body {
    color: #333;
    background: white;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1em;
}

a {
    color: #369;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    vertical-align: bottom;
    margin-right: .5em;
}

div {
    line-height: 1.5em;
    padding: .5em 0;
}

ul {
    list-style: none;
    padding: 1em;
}

ul.list {
    border: 1px solid #999;
}

li {
    padding: .25em;
}

input {
    border: thin solid #369;
    padding: .5em;
}

em {
    font-style: normal;
    color: #933;
}

td > em {
    color: #393;
}

#title {
    font-size: 2em;
    padding: 0;
}

#ident {
    padding: 0;
}

#search, #host {
    margin-bottom: 1em;
}

dt {
    color: #933;
}

dd {
    margin: 1em;
}

table.list {
    border: 1px solid #369;
    border-collapse: collapse;
    width: 100%;
}

.list td {
    border: 1px solid #369;
    padding: 1em;
}

.list th {
    padding: .5em;
    font-weight: normal;
    color: #933;
}

.error {
    color: #933;
    font-weight: bold;
}

div.title {
    color: #933;
    font-weight: bold;
    padding: 0;
}

span.update, .example {
    color: #393;
}

span.down {
    text-decoration: line-through;
}

.state {
    white-space: nowrap;
}

.percent, .counter {
    text-align: right;
}

@media (min-width: 640px) {
.row {
    display: flex;
}
.col {
    flex: auto;
}
.row .col:first-child {
    margin-right: 1em;
}
.just .col:last-child {
    text-align: right;
}
}

@media (max-width: 640px) {
.counter, .info {
    display: none;
}
}
