@import url("basic.css");

html {
    font-family: sans-serif;
    font-size: 17px;
}

body {
    max-width: 960px;
    color: #333;
    background: white;
    margin: auto;
}

a, a em {
    color: #369;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div {
    padding: 1em 0;
    line-height: 1.5em;
}

ul {
    list-style: none;
}

li {
    padding: .5em 0;
    white-space: nowrap;
}

input {
    border: thin solid #369;
    padding: .25em;
}

em {
    color: #f63;
    font-style: normal;
}

#logo {
    float: left;
    margin-right: 2em;
}

#main {
    padding: 0 2em;
}

#title {
    color: #369;
    font-size: 3em;
    padding: 0;
}

#header {
    padding: 2em;
    border-bottom: 1px solid #369;
}

#footer {
    border-top: 1px solid #369;
    margin: 2em 0;
    padding: 0 2em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 1em;
}

h1 {
    font-weight: bold;
    font-size: 1.2em;
    color: #933;
}

h2 {
    font-size: 1.2em;
}

.highlight-python {
    white-space: pre;
    font-family: monospace;
    background: #eef;
    border: 1px solid #999;
    margin-bottom: 2em;
    padding: 0 1em;
}

.note {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #999;
}

.entry {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #999;
}

.file {
    font-family: monospace;
    color: #393;
}

.command {
    color: #933;
}

.hword {
    color: #933;
}

.abrev {
    color: #393;
}

.pronc {
    color: #369;
    padding: .4em
}

.descr {
    color: #333;
    font-weight: bold;
}

p.list {
    color: #933;
    font-weight: bold;
    margin-left: 40px;
}

p.title {
    font-size: 1.2em;
    color: #933;
    margin: 0;
}

@media (min-width: 480px) {
#main {
    width: 64%;
}
#sidebar {
    float: right;
    width: 20%;
    padding: 1.5em;
}
#author {
    float: left;
}
#credit {
    float: right;
}
p.title {
    margin-bottom: 1.2em;
}
}

@media (max-width: 480px) {
#sidebar {
    border-bottom: 1px solid #369;
}
#author {
    padding-bottom: 0;
}
}
