{% extends "base.html" %}

{% block title %}New server{% endblock %}

{% block content %}

    <div id="title">Add new server</div>

    <div>
        Enter the <em>hostname</em> of the computer running the server.
    </div>

    <div>
    <form action="" method="post">
    Server: <input type="text" name="host" value="" maxlength="32">
    </form>
    </div>

    <div>
        Use <span class="example">host:port</span>
        if the server is not on a standard dict port.
    </div>

{% endblock %}
