<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/servers.css">
    <title>{% block title %}WELCOME{% endblock %}</title>
</head>
<body>
    {% block content %}
    YOU ARE HERE
    {% endblock %}
</body>
</html>
