{% extends "base.html" %}

{% block title %}Dict servers list{% endblock %}

{% block content %}
<div class="row just">
    <div class="col" id="title">Dict servers list</div>
    <div class="col" id="search">
        <form action="/servers/search" method="post">Search:
        <input type="text" name="query" value="{{ query }}" maxlength="32">
        </form>
    </div>
</div>
<div class="row just">
    <div class="col" id="info">
        Server status is updated daily. Database lists are updated weekly.
    </div>
    <div class="col" id="api">
        Servers list in <a href="/servers.json">JSON</a> and <a href="/servers.yaml">YAML</a> formats
    </div>
</div>
<div class="row just">
    <div class="col" id="update">
        {%- if update %}
        Updated: <span class="update">{{ update.date.strftime("%d.%m.%Y") }}</span>
        {%- endif %}
    </div>
    <div class="col" id="new">
        Add a <a href="/servers/new">new server</a> to the list
    </div>
</div>

    <table class="list">
        {%- set img = {'up': 'ok', 'down': 'err'} %}
        <tr><th>Host</th><th>State</th><th>Availability</th>
        <th class="info">Capabilities</th><th class="info">Databases</th><th class="info">Strategies</th></tr>
    {%- for info in servers %}
        {%- set server = info.server %}
        {%- set state = info.current %}
        <tr><td><a href="/servers/?host={{ server.host }}">{{ server.host }}</a></td>
        <td class="state"><img src="/img/{{ img.get(state, 'warn') }}.png" alt="{{ state }}"> {{ state }}</td>
        <td class="percent">{{ info.avail }} %</td>
        <td class="info">{{ server.capbs.replace('.', ', ') }}</td>
        <td class="counter">{{ server.dbases }}</td>
        <td class="counter">{{ server.strats }}</td></tr>
    {%- endfor %}
    </table>
{% endblock %}
