{% extends "base.html" %}

{% block title %}New server{% endblock %}

{% block content %}

    <div id="title">New server added</div>

    <div>
    Server has been added to the list. It will be checked on the next update.
    </div>

{% endblock %}
