{% extends "base.html" %}

{% block title %}Search Results{% endblock %}

{% block content %}

    <div id="title">Search Results</div>

{%- if dblist %}

    <div id="results">
    <table class="list">
        <tr><th>Database</th><th>Servers</th></tr>
        {%- for name, servers in dblist|dictsort %}
        <tr><td>{{ name|e|replace('|', '<em>', 1)|replace('|', '</em>', 1) }}</td>
        <td>
            {%- for state in servers %}
                <span class="{{ state.current }}">
                <a href="/servers/?host={{ state.host }}">
                {{ state.host }}</a></span>
                {%- if not loop.last %}, {% endif %}
            {%- endfor %}
        </td></tr>
        {%- endfor %}
    </table>
    </div>

{%- else %}

    <div class="error">No matches found</div>

{%- endif %}

{% endblock %}
