{% extends "base.html" %}

{% block title %}{{ server.host }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div id="title">{{ server.host }}</div>
        <div id="ident">{{ server.ident|e }}</div>
    </div>
    <div class="col" id="host">
        {%- set state = server.state.current %}
        {%- set img = {'up': 'ok', 'down': 'err'} %}
        <table class="list">
            <tr><th>Server</th><th>State</th><th>Capabilities</th></tr>
            <tr><td class="url">
            <a href="dict://{{ server.host }}">dict://{{ server.host }}</a></td>
            <td class="state"><img src="/img/{{ img.get(state, 'warn') }}.png" alt="{{ state }}"> {{ state }}</td>
            <td>{{ server.capbs.replace('.', ', ') }}</td></tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col" id="dbases">
    {%- if info.dblist %}
        <div class="title">Databases</div>
        <ul class="list">
        {%- for dbase in info.dblist %}
            <li>{{ dbase|e }}</li>
        {%- endfor %}
        </ul>
    {%- else %}
        <div class="error">No Databases</div>
    {%- endif %}
    </div>
    <div class="col" id="strats">
    {%- if info.stratlist %}
        <div class="title">Strategies</div>
        <ul class="list">
        {%- for strat in info.stratlist %}
            <li>{{ strat|e }}</li>
        {%- endfor %}
        </ul>
    {%- else %}
        <div class="error">No Strategies</div>
    {%- endif %}
    </div>
</div>
{% endblock %}
